<div class="user_info">
    <%= image_tag 'image.jpeg', size: "160x90", alt: "Edit Entry"%>
        <div>
            <h2>User name</h2>
            <p>Number of posts : 4</p>
    </div>
</div>
<div class="user_info">
    <%= image_tag 'image.jpeg', size: "160x90", alt: "Edit Entry"%>
        <div>
            <h2>User name</h2>
            <p>Number of posts : 4</p>
    </div>
</div>
<div class="user_info">
    <%= image_tag 'image.jpeg', size: "160x90", alt: "Edit Entry"%>
        <div>
            <h2>User name</h2>
            <p>Number of posts : 4</p>
    </div>
</div>
<div class="user_info">
    <%= image_tag 'image.jpeg', size: "160x90", alt: "Edit Entry"%>
        <div>
            <h2>User name</h2>
            <p>Number of posts : 4</p>
    </div>
</div>