<div class="user_details">
    <section class="top">
        <%= image_tag "image.jpeg", size: "160x90", alt: "Edit Entry"%>
        <div>
            <h1>Username</h1>
            <p>Number of posts : 5</p>
        </div>
    </section>
    <section class="bio">
        <h3>Bio</h3>
        <p> </p>
    </section>
    <section class="posts">
        <% @user.posts.each_with_index do |post, index| %>
            <div class="post_info">
                <h3>Post# <%=index%></h3>
            </div>
        <% end %>
    </section>
    <%=link_to "See all posts", user_posts_path(@user)%>
</div>