<section class="top">
    <%= link_to "Add post", new_post_path%>
    <%= image_tag @user.photo, size: "160x90", alt: "Edit Entry"%>
    <div>
        <h1><%= @user.name %></h1>
        <p>Number of posts : <%= @user.posts_count %></p>
    </div>
</section>