<% @posts.each do |post|%>
    <div class="post_info">
        <h3><%= link_to post.title, user_post_path(@user.id, post) %></h3>
        <p><%= post.text %></p>
    </div>
    <div class="comment_info">
        <% post.comments.limit(3).each do |comment| %>
            <p><%= comment.text %> By: <%= comment.user.name %></p>
        <% end %>
    </div>
<% end %>
